
body {
    font-family: Arial, sans-serif;
    background-color: #f0fcff;
    color: #000000;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #f0fcff;
    padding: 10px 20px;
}

.navbar .navbar-brand {
    color: #fca540;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'BatangChe', sans-serif;
}

.navbar .navbar-toggler {
    border-color: #ffffff;
}

.navbar .navbar-toggler-icon {
    background-color: #ffffff;
}

/* 商品リスト */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 19px;
    padding: 19px;
}

/* 商品アイテム */
.product-item {
    background-color: #fdfdfd;
    border: 1px solid #dddddd;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 180px;
    height: auto;
    margin-bottom: 1px;
}

.product-item h2 {
    font-size: 1.6em;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.product-item h3 {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 2px;
}

.product-item h4 {
    font-size: 0.9em;
    color: #706161;
    margin-bottom: 2px;
}



.product-item p {
    text-align: left; /* 左揃え */
    margin: 8px 0;
    font-size: 1em;
    color: #151515;
}

/* 商品がない場合のメッセージ */
.product-list p {
    text-align: left;
    font-size: 2em;
    color: #f72c2c;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .product-list {
        grid-template-columns: 1fr;
    }
}

.Form-Bon {
    border-radius: 11px;/* 角を丸くする角度みたいな */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 134px;
    display: block;
    letter-spacing: 0.1em;
    background: #fbb96d;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
  }

  .Form-Bon:hover {
    background: #fd8003; /* カーソルが載ったときの背景色 */
    color: #ffffff; /* カーソルが載ったときのテキスト色 */
}
